[submodule "hazedumper"]
	path = hazedumper
	url = https://github.com/frk1/hazedumper.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
